<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montadoras</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="navbar">
        <h1>PatroCars 2000</h1>
        <div>
            <a href="/montadoras_list">Lista de Montadoras</a>
            <a href="/montadoras_form">Nova Montadora</a>
            <a href="/montadora_save_txt">Salvar em Arquivo</a>
        </div>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>